# CODEOWNERS for Frontend Repository
# This file defines who is responsible for reviewing and approving pull requests.

# General rule: all files require review by frontend owners
*             @IvanAusechaS @AndreyQuicenoC

# Specific paths
src/**        @IvanAusechaS @AndreyQuicenoC
tests/**      @JonMeister
.github/**    @IvanAusechaS
